<mat-card>
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <p>
                <mat-form-field>
                    <input matInput type="email" placeholder="Email" formControlName="code" id="code">
                    <mat-error *ngIf="hasError('code', 'required')">Email is required</mat-error>
                    <mat-error *ngIf="hasError('code', 'email')">Email must be a valid email address</mat-error>
                    <mat-error *ngIf="hasError('code', 'emailDomain') && !hasError('code', 'email')">Please enter a valid onpassive mail id</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" id="password">
                    <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                    <!-- <mat-error *ngIf="hasError('password', 'pattern')">Password pattern not satisfied</mat-error> -->
                </mat-form-field>  
                <mat-password-strength #passwordComponent [password]="password.value"></mat-password-strength>
                           
            </p>
            <p>
                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="cpassword" id="cpassword" (input)="onPasswordInput()">
                    <mat-error *ngIf="hasError('cpassword', 'required')">Confirm Password is required</mat-error>
                    <mat-error *ngIf="hasError('cpassword', 'passwordMismatch') && !hasError('cpassword', 'required')">Passwords don't match</mat-error>
                </mat-form-field>
            </p>

            <div class="button">
                <button type="submit" mat-raised-button color="primary" >Confirm</button>
                <a mat-button routerLinkActive="active" [routerLink]="['']" color="warn">Cancel</a> 
            </div>
            
        </form>
    </mat-card-content>
</mat-card>