<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <p>
                <mat-form-field>
                    <input matInput type="email" placeholder="Mail" formControlName="email" id="email">
                    <mat-error *ngIf="hasError('email', 'required')">EmailId is required</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Email must be a valid email address</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput type="text" placeholder="Password" formControlName="password" id="password">
                    <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                </mat-form-field>
            </p>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/restPassword']">forgot password?</a>
            </mat-nav-list>

            <div class="button">
                <button type="submit" mat-raised-button color="primary">Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>